<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async) }" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/convert-rates" (click)="drawer.toggle()">
        <mat-icon style="color:#01A9DB;">
          monetization_on
        </mat-icon> &nbsp; Conversor
      </a>
      <a mat-list-item routerLink="/currency-rates" (click)="drawer.toggle()">
        <mat-icon style="color:#01A9DB;">
          trending_up
        </mat-icon>
        &nbsp; Taxas de Cambio
      </a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cambio</span>
      <span class="spacer"></span>
      <div class="menu">
        <a mat-list-item routerLink="/convert-rates">Conversor</a>
        <a mat-list-item routerLink="/currency-rates">Taxas de Cambio </a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>