.sidenav-container {
  height: 100%;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 500 20px/32px Roboto,'Fjalla One', sans-serif; 
  margin: 0;
}
.mat-toolbar.mat-primary {
  background: #01A9DB;
  color: #fff;
}

.mat-list-item {
  font-family: Roboto,'Fjalla One', sans-serif;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, .24, alpha)
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar{
  position: fixed;
  z-index: 1;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none
}

@media(max-width: 767px){
  .menu{
    display: none;
  }
}

@media(min-width: 768px){
  
.sidenav {
  display: none;
}
}
