

.data{
  text-align: center;
  background-color: #00BFFF;
  color: white
}

.img-flag {
  width: 79.6px;
  height: 50px;
  margin-left: .8px;
  border: 1px solid rgba(0, 0, 0, 0.24)
}

.mat-card {
  font-family: 'Fjalla One', sans-serif;
}

.card {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin: 5px;
}

.col-3 {
  padding-left: 0
}

.item-right {
  text-align: right;
}

.currency {
  color: rgba($color: #000000, $alpha: .48)
}