<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex class="data">
    Atualizado em {{ (codeRate$ | async).date | date: 'dd/MM/yyyy' }}

  </div>
  <mat-form-field class="data">
    <mat-select [formControl]="selected" placeholder="Moeda base" (selectionChange)="setBase($event.value.code)">
      <mat-option *ngFor="let item of  (codeRate$ |async).rates" [value]="item">
        <img src="{{item?.flag}}" alt="" width="10%">
        {{item.code}}
        <small>{{item.country}}</small>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngFor="let item of (codeRate$ |async).rates">
  <mat-card *ngIf="item.code!==(codeRate$ |async).base " class="card mat-elevation-z3">
    <div style="flex: 1">
      <img [src]="item.flag" alt="" class="img-flag">
    </div>
    <div style="flex: 1">
      <div>
        {{item.country}}
      </div>
      <div>
        {{item.currency}}
      </div>
      <div style="flex: 2">
        <div class="currency">
          {{item.simbolo}}
          {{item.rate}}
        </div>
      </div>
    </div>
  </mat-card>
</div>