<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex class="data">
    Atualizado em
    {{ (amount$ | async).date | date: 'dd/MM/yyyy'}}
  </div>
</div>
<div class="container-fluid">
  <mat-card class="card">
    <mat-card-content>
      <div class="opcao">
        <div class="selecao">
          <div class="imagem-country">
            <img src="{{selected.value?.flag}}" alt="" width="60%">
          </div>
          <mat-form-field class="select-moeda">
            <mat-select #select1 [formControl]="selected" placeholder="Moeda" (selectionChange)="setBase($event.value.code)">
              <mat-option *ngFor="let item of  (amount$ | async).rates" [value]="item">
                <img src="{{item?.flag}}" alt="" width="10%">
                {{item.code}}
                <small>{{item.country}}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-valor">
          <mat-form-field class="valor">

            <input type="number" placeholder="Digite o valor" matInput #input1>
          </mat-form-field>
        </div>
      </div>

      <span style="flex: 1; display: flex;">Converter para :</span>
      <div class="opcao">
        <div class="selecao">
          <div class="imagem-country">
            <img src="{{select2.value?.flag}}" alt="" width="60%">
          </div>

          <mat-form-field class="select-moeda">
            <mat-select #select2 placeholder="Moeda">
              <mat-option *ngFor="let item of  (amount$ | async).rates" [value]="item">
                <img src="{{item?.flag}}" alt="{{item.code}}" width="10%">
                {{item.code}}
                <small>{{item.country}}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-valor">
          <mat-form-field class="valor">
            <input #input2 type="number" placeholder="Valor convertido" disabled matInput value="{{select2?.value?.rate * input1?.value}}">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>