.container-fluid {
  display: flex;
  flex: 1;
  border-radius: 5px;
  flex-direction: column;
  background-color: #ffffff;
  align-items: stretch;
  text-align: center;
  .card {
    margin-top: 15px;
    max-width:600px;
    padding: 10px;
  }
  .opcao {
    align-self: center;
    display: flex;
    flex-direction: row;
    .selecao {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 10px;
      max-width: 50%;
      text-align: center;
      .imagem-country {
        flex: 1;
        img {
          width: 50%;
          border-style: solid;
          border-width: 1px;
          border-color: darkgrey;
        }
      }
      .select-moeda {
        max-width: 100%;
        flex: 1;
      }
    }
    .input-valor {
      display: flex;
      flex: 1;
      max-width: 50%;
      padding: 10px;
      align-content: flex-end;
      align-self: flex-end;
      .valor {
        flex: 1;
        max-width: 100%;
      }
    }
  }
  mat-form-field input {
    text-align: right
  }
  .mat-input-element:disabled {
    color: rgba(0, 0, 0, .69)
  }
}

.data {
  text-align: center;
  background-color: #00BFFF;
  color: white
}